.boxed-list > * list {
    background: transparent;
    border: 0px;
    border-radius: 0px;
}

.vumeter {
    border: 1px solid black;
    border-radius: 5px;
    filter: saturate(.65) brightness(.95);
    background-color: #585858;
}
