.boxed-list > * list {
    background: transparent;
    border: 0px;
    border-radius: 0px;
}

.vumeter {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #303030;
    filter: invert(.1);
}
