.boxed-list > * list {
    background: transparent;
    border: 0px;
    border-radius: 0px;
}

.boxed-list {
    box-shadow: none;
}

.vumeter {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--card-bg-color);
}
